@page
@model Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Latest Movies & TV Shows</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Quality</th>
            <th>Title</th>
            <th>Year</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Season</th>
            <th>Episode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MediaItems)
        {
            <tr>
                <td>@item.Quality</td>
                <td>@item.Title</td>
                <td>@item.Year</td>
                <td>@item.Duration</td>
                <td>@item.Type</td>
                <td>@item.Season</td>
                <td>@item.Episode</td>
            </tr>
        }
    </tbody>
</table>
